@header-color: #ffd;
@header-bg: #003366;
@base: #efefef;
@secondary: #0680cd;
// #e5eddc;
@action: #235fc9;

@accent: #a1b70d;

@respond: 767px;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

body {
   background: @base;
}
a {
   color: @action;
}

// pure stuff
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
   color: white;
   border-radius: 4px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
   background: rgb(76, 201, 71); /* this is a green */
}

.pure-button-error {
   background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
   background: orange;
}

.pure-button-secondary {
   background: @secondary;
   color: #fff;
   font-weight: bold;
}

.pure-button-xsmall {
   font-size: 70%;
}

.pure-button-small {
   font-size: 85%;
}

.pure-button-large {
   font-size: 110%;
}

.pure-button-xlarge {
   font-size: 125%;
}


.row-label, .row-other {
   padding: 0.5em;
   border-top: 1px solid #ccc;
}

@media (max-width:@respond) {
   .row-other {
      padding: 0.5em;
      border-top: 0px;
   }
}

.container {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 30px;
   @media (max-width:@respond) {
      width: 95%;
   }
}

.sidebar {
   padding: 5px;
   .rounded-corners;
   background: #fff;
   margin: 4px;
   border: 2px solid #444;
   h3 {
      margin: 3px 0;
      border-bottom: 1px solid @accent;
   }
   > .datum {
      margin: 5px 1px;
      > .addr {
         margin: 10px 0;
         font-size: 0.9em;
      }
   }
}

.main-content {
   padding: 0 0.2em;
   h2 {
      border-bottom: 2px solid @accent;
      em {
         font-size: 0.8em;
      }
   }
}

.profile {

   > .menu {
      padding: 10px 0 0 0;
      background-color: @base;
      button {
         margin: 3px;
      }
   }
   .pure-menu .pure-menu-open {
      background-color: @base;
   }
}


.active {
   background-color: #a1b70d;
}

.formatted-result {
   font-size: 90%;
   border: 1px solid #ccc;
   /* margin: 30px; */
   background: #631323;
   color: #fff;
   overflow: auto;
   height: 400px;
   width: 80%;
   .rounded-corners(10px);
}
.container {
   padding: 1em;
}
.header {
   padding: 0.5em;
   background: @header-bg;
   color: #e8e5e2;
   .pure-menu-heading {
      color: @header-color;
   }
}


.raw {
   padding: 2em;
}

.footer {
   background: none repeat scroll 0 0 #111111;
   color: #666666;
   font-size: 80%;
   padding: 1em;
   text-align: center;
   .rounded-corners;
}