<div class="splash pure-u-1">
  <form class="pure-form">
    <fieldset>
      Organization URL:
      <input type="text" ng-model="organizationUri" class="pure-input-2-3 pure-input-2-3">
      <button class="pure-button pure-button-secondary pure-button-small"
              ng-click="goToOrg()">
        Load
      </button>
    </fieldset>
  </form>
</div>

<div class="pure-u-1">
  <h2>Faculty in {{ organizationName }}</h2>
</div>

<div class="pure-u-1">
  <form class="pure-form">
    <p>
      Filter: <input class="pure-input-2-3" ng-model="query" placeholder="faculty">
    </p>
  </form>
</div>

<div class="pure-u-1">
  Count: {{ filteredFaculty.length }}
</div>

<div class="pure-g-r" ng-repeat="f in (filteredFaculty = (faculty | filter:query))">
  <div class="pure-u-1-3">
    <div class="row-label">
      <a href="#" ng-click="setCurrentPerson(f)" prevent-click>
        {{f.label}}
      </a>
    </div>
  </div>
  <div class="pure-u-2-3">
    <div class="row-other">
      <em>{{f.title}}</em>
    </div>
  </div>
</div>

<div class="pure-u-1 raw">

  <button class="pure-button pure-button-small pure-button-secondary"
          ng-show="!isShowingOrgJson()"
          ng-click="showOrgJson(true)">
    Show Organization JSON
  </button>

  <button class="pure-button pure-button-small pure-button-secondary"
          ng-show="isShowingOrgJson()"
          ng-click="showOrgJson(false)">
    Hide Organization JSON
  </button>

  <pre class="formatted-result" ng-show="isShowingOrgJson()">{{ faculty | json }}</pre>
</div>

